/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*==========Reset==========*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
:root {
    --dark-color: hsl(0, 0%, 23%);
    --black-color: hsl(0, 0%, 7%);
    --white-color: hsl(0, 0%, 100%);
    --primary-color: hsl(264, 69%, 53%);
    --danger-color: hsl(0, 93%, 65%);
    --bg-color: linear-gradient(45deg,  #4c4c4c 0%,#666666 0%,#666666 0%,#666666 4%,#666666 4%,#666666 8%,#666666 8%,#32363d 25%,#32363d 25%,#2b3138 34%,#2b3138 36%,#2b3138 39%,#2b3138 45%,#2b3138 60%,#32363d 67%,#666666 85%,#666666 89%,#666666 89%,#666666 98%,#666666 100%,#403f45 100%,#1c1c1c 100%,#131313 100%,#525151 100%);
    --bg2-color: linear-gradient(35deg,#474A51 1%,#1f2127 50%,#1f2127 70%,#1f2127 70%,#474A51 100%);
    --orange-color: hsl(39, 100%, 50%);
    --transparent-color: hsla(0, 0%, 0%, 0);
    --shadow: 0 4px 20px hsla(0, 0%, 4%, 0.322);
    --shadow1: 0 1px 4px hsla(0, 0%, 0%, 0.2);
    --shadow2: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    --transition: all 300ms ease:
}

/*==========Base==========*/
body {
    display: grid;
    place-items: center;
    color: var(--white-color);
    background: var(--bg-color);
    line-height: 1.5;
    height: 100vh;
}
.btn {
    background: var(--transparent-color);
    color: var(--orange-color);
    padding: .8rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: var(--transition);
}
.btn-large {
    padding: .8rem 1.5rem;
    font-size: 1.2rem;
    box-shadow: var(--shadow);
}
.btn-danger {
    background: var(--primary-color);
}
.btn:hover {
    transform: scale(1.2);
}
#app {
    position: relative;
    background: var(--black-color);
    height: 48rem;
    width: 24rem;
    padding: 2rem 1.5rem;
    overflow: scroll;
}
h1, h2, h3, h4 {
    font-weight: 500;
}
h1, h2 {
    font-size: 2rem;
}
::-webkit-scrollbar {
    display: none;
}

/*==========Notes==========*/
.header__notes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.6rem 1.5rem;
    background: var(--bg2-color);
    box-shadow: var(--shadow);
    border-radius: .5rem;
    z-index: 10;
}
.header__notes h1 {
    color: var(--orange-color);
    letter-spacing: -2px;
    margin-right: 1.5rem;
}
.header__notes input {
    width: 100%;
    margin-right: 1.5rem;
    padding: .7rem 1rem;
    background: var(--transparent-color);
    box-shadow: var(--shadow1);
    border-radius: .6rem;
    color: var(--orange-color);
    font-size: 1.1rem;
}
.notes__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}